<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">gavant-ember-button-link</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{button-basic "test"
                label="Test Link"
                type="primary"
            }}
        </div>
    </div>
</div>
{{outlet}}
